body{
  margin: 0;
  padding: 0;
  margin-top: 64px;
}

button{
  padding: 0.5rem 1rem;
}

p{
  font-size: 18px;
}

h2{font-size:24px ;}

.header{
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  background-color: #fff;
}

.header ul{
  display: flex;
}

.header ul li{
  list-style: none;
  padding: 1rem;
}

.poster{
  position: relative;
}

.poster img{
  width: 100%;
}

.test{
  position: absolute;
  top: 50%;
  left: 20%;
}
.test h1{
  color: #fff;
  font-size: 36px;
}
.test p{
  color: #fff;
  font-size: 18px;
}

.about h2 , p{
  text-align: center;
  margin-bottom: 16px;
}

.about{
  margin: 16px;
}

.about_card{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.about_card_item{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.about_card_item img{
  width: 30px;
}