body {
  margin: 0;
  padding: 0;
  margin-top: 64px;
  font-family: sans-serif;
  letter-spacing: 2px;
}

input {
  margin: 0;
  padding: 0;
  width: 100%;
  border: 1px solid #ccc;
  padding-left: 10px;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  font-size: 16px;
}

button {
  padding: 12px 16px;
}

p {
  font-size: 18px;
  list-style: 1.8;
  font-weight: 400;
}

h1{
  font-size: 64px;
}

h2 {
  font-size: 24px;
}

.inner_container{
  padding: 2rem;
}

.btn{
  background-color: #000;
  border: #000;
  color: #fff;
  
}

.btn:hover{
  background-color: #ccc;
  color: #000;
  
}

.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  background-color: #fff;
}

.header ul {
  display: flex;
}

.header ul li {
  list-style: none;
  padding: 1.5rem;
}

.header ul:first-child li {
  letter-spacing: 5px;
}

.header ul li:hover {
  background-color: #ccc;
}

.poster {
  position: relative;
}

.poster img {
  width: 100%;
}

.test {
  position: absolute;
  top: 20%;
}

.test h1 {
  color: #fff;
}

.test p {
  color: #fff;
  font-size: 18px;
}

.about h2,.about p{
  text-align: center;
  margin-bottom: 16px;
}

.about_card {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.about_card_item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.about_card_item img {
  width: 30px;
}

.about_desgin {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #f1f1f1;
  padding: 5rem;
}

.about_desgin img {
  width: 100%;
}

.team_inner {
  padding: 1rem;
}

.team_inner img {
  width: 100%;
}

.team-innerSection {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  background-color: #616161;
  padding: 4rem;
}

.team-innerSection h2 {
  font-size: 36px;
  text-align: center;
  color: #f1f1f1;
}

.team-innerSection p {
  color: #f1f1f1;
  text-align: center;
}

.work_gallery {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.work_gallery_inner {
  padding: 1rem;
}

.work_gallery_inner img {
  width: 100%;
}

.work_skill {
  padding: 1rem;
}

.work_skill p {
  font-size: 16px;
  text-align: left;
}

.work_skill progress {
  padding: 1.5rem;
  width: 100%;
}

.skillDetail {
  padding: 1rem;
}

.skillDetail p {
  font-size: 16px;
  text-align: left;
}

.pricie_outer {
  background-color: #616161;
}

.price_list {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.price_list ul{
  padding: 1rem;
}

.price_list ul li {
  list-style: none;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  padding: 24px 0px 24px 0px;
}

.price_list ul:nth-child(odd) {
  margin-top: 1rem;
}

.price_list ul li:first-child {
  background-color: #000;
  color: #fff;
}

.price_list ul li:last-child {
  background-color: #ddd;
  color: #fff;
}

.price_list ul:nth-child(even) li:first-child {
  background-color: red;
  color: #fff;
  padding: 50px 0px 50px 0px;
}

.price_list ul li button {
  background-color: #000;
  color: #fff;
  border: #000;
  padding: 12px 24px;
}
/* contact section */
.Contact{
  background-color: #f1f1f1;
}
.contact_Icon img {
  width: 30px;
}

.contact_Icon {
  display: flex;
  align-items: center;
}

.contact_Icon p {
  text-align: start;
  padding-left: 2rem;
}

.contact_form input {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.city_img img {
  width: 100%;
}

