body{
  margin: 0;
  padding: 0;
  margin-top: 64px;
}

button{
  padding: 0.5rem 1rem;
}

p{
  font-size: 18px;
}

h2{font-size:24px ;}

.header{
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  background-color: #fff;
}

.header ul{
  display: flex;
}

.header ul li{
  list-style: none;
  padding: 1rem;
}

.poster{
  position: relative;
}

.poster img{
  width: 100%;
}

.test{
  position: absolute;
  top: 50%;
  left: 20%;
}
.test h1{
  color: #fff;
  font-size: 36px;
}
.test p{
  color: #fff;
  font-size: 18px;
}

.about h2 , p{
  text-align: center;
  margin-bottom: 16px;
}

.about_card{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.about_card_item{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.about_card_item img{
  width: 30px;
}

.about_desgin{
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #f1f1f1;
  padding: 5rem;
}

.about_desgin img{
  width: 100%;
}
.team_inner{
  padding: 1rem;
}
.team_inner img{
  width: 100%;
}

.team-innerSection{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  background-color: #616161;
  padding: 4rem;
}
.team-innerSection h2{
  font-size: 36px;
  text-align: center;
  color: #f1f1f1;
}

.team-innerSection p{
  color: #f1f1f1;
}

.work_gallery{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
.work_gallery_inner{
  padding: 1rem;
}
.work_gallery_inner img{
width: 100%;
}
